@model IEnumerable<Barberia.Models.Categoria>

<div class="container mt-3" style="max-width: 800px;">
    <h2>Insertar Producto</h2>

    @if (TempData["SuccessMessageP1"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessageP1"]
        </div>
    }

    @if (TempData["ErrorMessageP1"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessageP1"]
        </div>
    }
    <form asp-controller="Categorias" asp-action="InsertarProductos" method="post" enctype="multipart/form-data">

        <!-- Nombre del Producto -->
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" name="Nombre" class="form-control" required />
        </div>

        <!-- Descripción del Producto -->
        <div class="form-group">
            <label>Descripción</label>
            <textarea name="Descripcion" class="form-control"></textarea>
        </div>

        <!-- Precio del Producto -->
        <div class="form-group">
            <label>Precio</label>
            <input type="number" step="0.01" name="Precio" class="form-control" required />
        </div>

        <!-- Stock del Producto -->
        <div class="form-group">
            <label>Stock</label>
            <input type="number" name="Stock" class="form-control" required />
        </div>

        <!-- Imagen del Producto -->
        <div class="form-group">
            <label>Imagen</label>
            <input type="file" name="Imagen" class="form-control" />
        </div>

        <!-- Categoría del Producto -->
        <div class="form-group">
            <label>Categoría</label>
            <select name="CategoriaId" class="form-control">
                <option value="">Seleccione una categoría</option>
                @foreach (var categoria in Model)
                {
                    <option value="@categoria.CategoriaId">@categoria.Nombre</option>
                }
            </select>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Insertar</button>
    </form>
</div>

